@import url('https://fonts.googleapis.com/css2?family=Acme&family=Permanent+Marker&family=Quicksand:wght@400;700&family=Varela+Round&display=swap');
/* Font Acme, Quicksand, Varela Round, Permanent Marker, sans-serif */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', cursive;
}

main {
    width: 100%;
    max-width: 840px;
    margin: 32px auto;
}

movie-list {
    display: block;
    margin-top: 32px;
    width: 100%;
    padding: 16px;
}